<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row">
    <button mat-mini-fab color="primary" routerLink="/orders">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <h4 *ngIf="!order"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="order">
    <mat-card fxFlex>
      <mat-card-content>
        <h1>Id: {{order.id}}</h1>
        <h2>Customer: {{order.customer?.firstName}} {{order.customer?.lastName}}</h2>
        <h2>Deliverydate: {{order.deliveryDate | date}}</h2>
        <hr style="height:2px; background:blue">
        <div *ngIf="order.orderLines">
          <mat-toolbar color="primary" style="margin-top: 10px; border-radius: 5px;" *ngFor="let ol of order.orderLines">
            <mat-toolbar-row >
              <p fxFlex="5">{{ol.qty}}</p>
              <p fxFlex="33">{{ol.product.name}}</p>
              <p fxFlex fxLayoutAlign="end center">{{ol.priceWhenBought | currency}}</p>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutGap="5px">
        <span fxFlex></span>
        <button routerLink="/orders-update/{{order.id}}"
                mat-mini-fab
                color="primary">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button (click)="delete(order.id)"
                mat-mini-fab
                color="accent">
          <i class="fas fa-trash-alt"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


