<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row"
       fxLayoutAlign="center end">
    <mat-paginator [length]="count"
                   [pageSize]="pageEvent.pageSize"
                   [pageSizeOptions]="[6, 12, 24, 120]"
                   (page)="changePage($event)">
    </mat-paginator>
  </div>
  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="products && !loading">
    <div fxFlex="33"
         [fxFlex.md]="'50'"
         [fxFlex.sm]="'100'"
         [fxFlex.xs]="'100'"
         *ngFor="let product of products">
      <mat-card>
        <mat-card-content>
          <div>{{product.name}}</div>
          <p>Price: {{product.price | currency}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
