<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row">
    <form fxFill [formGroup]="productsForm" (ngSubmit)="save()" *ngIf="products">
      <div fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Products"
                      formControlName="productsSelect"
                      multiple>
            <mat-option *ngFor="let product of products" [value]="product">{{product.name}}, {{product.price | currency}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayoutAlign="end center">
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>

  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="orders && !loading">
    <div fxFlex="33"
         [fxFlex.md]="'50'"
         [fxFlex.sm]="'100'"
         [fxFlex.xs]="'100'"
         *ngFor="let order of orders">
      <mat-card>
        <mat-card-content>
          <div>Id: {{order.id}}</div>
          <h2>d-Date: {{order.deliveryDate | date}}</h2>
          <div *ngIf="order.orderLines && order.orderLines.length >= 2">
            <div *ngFor="let ol of order.orderLines.slice(0,2)">
              <h3> Item: {{ol.product.name}} -
                price: {{ol.priceWhenBought | currency}} * qty: {{ol.qty}} total: {{(ol.priceWhenBought * ol.qty) | currency}} </h3>
            </div>
          </div>
          <div *ngIf="order.orderLines && order.orderLines.length < 2">
            <h3>No items Found..</h3>
            <h3>..</h3>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>


